body {
    font-family: Arial, sans-serif;
}
main {
    width: 60%;
    margin: 0 auto;
}
h1 {
    text-align: center;
}
.category {
    margin-top: 20px;
    border: 1px solid #ddd;
    padding: 10px;
    background-color: #f9f9f9;
    position: relative;
}
.category h2 {
    display: inline;
}
.category button.delete-category {
    position: absolute;
    right: 10px;
    top: 10px;
}
.tasks {
    list-style-type: none;
    padding: 0;
}
.tasks li {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
    padding: 5px;
    background-color: #ffffff;
    border: 1px solid #bdebde;
}